.featured-wall {
  padding-top: 60px;
}

.home-title {
  font-size: 5rem;
  color: #f8f8f2;
  text-align: center;
  padding: 100px;
}

.featured-wall-container {
  display: flex;
  justify-content: center;
}

.featured-wall-container img {
  width: 40%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #010e3b;
}
