nav {
  padding: 10px;
  display: flex;
}

.nav-title a {
  margin-left: 10px;
  font-weight: 700;
  color: #f8f8f2;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  transition: none;
  text-decoration: none;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #f8f8f2;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  margin-left: 10px;
  margin-right: 10px;
}

nav ul li a:hover {
  border-color: #8be9fd;
  color: #8be9fd;
}
